<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="RobotFile" fileName="robot.log">
            <PatternLayout pattern="%d{ISO8601} %msg%n"/>
        </File>
        <Async name="Async">
            <AppenderRef ref="RobotFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>