<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="Robot_Log_File"
            fileName="${sys:user.home}/logs/robot.log"
            filePattern="${sys:user.home}/logs/robot-%d{MM-dd-yyyy_HH:mm:ss}.log.gz"
            immediateFlush="true">
            <PatternLayout>
                <Pattern>[%d{ISO8601}]: %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Async name="Async_Appender">
            <AppenderRef ref="Robot_Log_File"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root name="robot" level="INFO">
            <AppenderRef ref="Async_Appender"/>
        </Root>
    </Loggers>
</Configuration>